<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <form method="POST" action="/register">
        <div>
            <label for="firstname">firstname</label>
            <input type="text" name="firstname" id="firstname" autocomplete="off" required>
        </div>
         <div>
            <label for="lastname">lastname</label>
            <input type="text" name="lastname" id="lastname" autocomplete="off" required>
        </div>
         <div>
            <label for="username">username</label>
            <input type="text" name="username" id="username" autocomplete="off" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" autocomplete="off" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="off" required>
        </div>
        <div>
            <label for="cpassword">Re-Password</label>
            <input type="password" name="cpassword" id="cpassword" autocomplete="off" required>
        </div>
        <input type="submit" value="Register">
    </form>
</body>
</html>